<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Adventures with Petey</title>
</head>
<style media="screen">
  body {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
</style>
<body>
  <h1>here lies my adventures with Petey for 3/6 - 3/12!</h1>
  <br>
  <h3>  -- website in progress hehe -- </h3>
  <br>
  <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.15752-9/53311892_433968880676410_9134353694274355200_n.jpg?_nc_cat=100&_nc_ht=scontent-lax3-1.xx&oh=5a9c6c41c435e083f1a86bf3f009ddc3&oe=5D0263C2" style="width:auto; height:auto; max-width:300px; max-height:600px" class="img-fluid rounded mx-auto d-block" alt="pic with petey">
  <br>
</body>
</html>
