<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Adventures with Petey</title>
</head>
<body text-align:"center">
  here lies my adventures with Petey for 3/6 - 3/12!
  <br>
  <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.15752-9/53311892_433968880676410_9134353694274355200_n.jpg?_nc_cat=100&_nc_ht=scontent-lax3-1.xx&oh=5a9c6c41c435e083f1a86bf3f009ddc3&oe=5D0263C2" alt="pic with petey">
  <br>
  -- website in progress hehe --
</body>
</html>
